-----BEGIN PRIVATE KEY-----
# Optional: Place an Ed25519 private key here for local GMGN OpenAPI quote signing.
# Or set the environment variable GMGN_PRIVATE_KEY="<PEM_STRING>".
# Generate via: openssl genpkey -algorithm ed25519 -out gmgn_private.pem
-----END PRIVATE KEY-----
